# Node modules (local, will install inside container)
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# Environment files (don't want secrets in image)
.env
.env.local
.env.development
.env.test
.env.production

# Git files
.git
.gitignore


# Optional temp files / OS files
*.swp
*.DS_Store
